* {
  font-size: 14px;
  font-family: arial, sans-serif;
}

header {
  text-align: center;
  background-color: #222;
  height: 55px;
  margin: 0;
  padding-top: 1px;
  color: white;
}

h1 {
  font-size: 1.5em;
}

main {
  margin: 20px;
}

input {
  width: 100%;
}

.gap {
  height: 30px;
}

@media only screen and (max-width: 600px) {
  * {
    font-size: 0.97em;
  }
}
